# SQLite for Python
   Compiled by: Alem H Fitwi, GA-Data Analyst and PhD Student
   
   Reserach Areas:        
        <ul>
            <li>Privacy,</li>
            <li>Deep Learning,</li>
            <li>Networking (Edge Computing),</li>
            <li>IoD, and Mechanical Surveillance Systems</li>    
         </ul>
    Binghamton University-State University of New York
    
                        December, 2017

# <font color='green'>Section 0: Background Info</font>

The main difference between the **mysql community edition** and the **msql enterprise edition** is added support and tools. The server itself is the same, but the enterprise edition gets updated more frequently and it is stable with quick bug fix support. It would be safe and will not make any problem if you decide to move on to ORACLE in future.

***MySQL Enterprise subscriptions include:***
- MySQL Enterprise Server which is the most reliable, secure and up-to-date version of the world’s most popular open source database
- The MySQL Enterprise Monitor provides monitoring and automated Ad visors to help you eliminate security vulnerabilities, improve replication, optimize performance, and more
- MySQL Technical Support enables you to get your toughest technical questions answered quickly.
- MySQL Consultative Support, available with MySQL Enterprise Platinum gives you tailored advise from the MySQL Support team on how to properly design and tune your MySQL servers, schema, queries, and replication set-up for better performance.
- Another advantage of MySQL Enterprise edition over Community edition is it provides the MySQL Thread Pool. The Thread Pool provides a highly scalable, queue-based thread-handling model designed to reduce overhead in managing client connections and statement execution threads.

***MySQL Community Server:***
- Freely available under the open source GPL license
- In a MyISAM table with dynamic (variable length) rows, the index file for the table (tablename.MYI) stores row locations using 32-bit pointers into the data file (tablename.MYD). That means it can address only 4GB of space.

***SQLITE***
- SQLite is a software library that implements a self-contained, serverless, zero-configuration, transactional SQL database engine. 
- SQLite is a C-language library that implements a small, fast, self-contained, high-reliability, full-featured, SQL database engine. SQLite is the most used database engine in the world. SQLite is built into all mobile phones and most computers and comes bundled inside countless other applications that people use every day.
-  The SQLite file format is stable, cross-platform, and backwards compatible and the developers pledge to keep it that way through at least the year 2050. SQLite database files are commonly used as containers to transfer rich content between systems and as a long-term archival format for data. There are over 1 trillion (1e12) SQLite databases in active use.
- SQLite source code is in the public-domain and is free to everyone to use for any purpose.

**SQLite Introduction**
![](sqlite.jpg)

SQL (Structured Query Language) is a special programming language that is designed for handling and managing data held in a Relation database management system (RDBMS).  

As the name suggest, SQLite is a lightest version of SQL. It does not require any Server, No configuration. 

In the simplest terms, SQLite is a public-domain software package that provides a relational database management system, or RDBMS. 

The “Lite” in SQLite does not refer to its capabilities. Rather, SQLite is lightweight when it comes to setup complexity, administrative overhead, and resource usage.

**Overview of SQLite**

SQLite is an open source embedded relational database management system or RDBMS contained in a C programming library. Relational database systems are used to store data in large tables. 

In contrast to other popular RDBMS products like Oracle Database, IBM’s DB2, and Microsoft’s SQL Server, SQLite does not require any administrative overhead or any setup complexity. 

As the other databases are working as a standalone process, SQLite is a not working as a standalone process. You have to link it with your application statically or dynamically.

SQLite uses dynamically and weakly typed SQL for column. It means you can store any value in any column, regardless of the data type. SQLite implements most of the SQL92 standard. 

**Features of SQLite** 

Server less: SQLite does not require a separate server process or system to operate. The SQLite library accesses its storage files directly. 

Zero Configuration: No server means no setup. Creating a SQLite database instance is as easy as opening a file. 

Cross-Platform: A complete SQLite database is stored in a single cross-platform disk file, requiring no administration. 

Self-Contained: A single library contains the entire database system, which integrates directly into a host application. 

Transactional: SQLite transactions are fully ACID-compliant means all queries are Atomic, Consistent, Isolated, and Durable. 

Light-weight: As the name suggests “Lite”, SQLite is very small and light weight. 

Familiar language: Familiar query language for database developers and admins. 

Highly Reliable: The SQLite development team takes code testing and verification very seriously.

**Weakness of SQLite**
Following are the drawbacks of SQLite database.
- SQLite not works well in client/server Architecture.
- If you are using SQLite as backend for High-volume website, SQLite does not works fine as compared to enterprise client/server database.
- A SQLite database is limited in size to 140 terabytes (TB). SQLite stores the whole database in Single Disk File. Many file systems not allow these much size of file.
- SQLite has not Implemented RIGHT OUTER JOIN and FULL OUTER JOIN. With SQLite we can only implement LEFT OUTER JOIN.
- It is not possible to rename a column, remove a column, or add / remove constraints from a table in SQLite. While you can always create a new table and then drop the older one.
- Views in SQLite are read-only. We can’t use DML statements (Insert, Update, and Delete) with Views.
- We cannot use GRANT and REVOKE statement with SQLite.

These are the features, advantages and disadvantages of using SQLite in our applications.

# <font color='green'>Section 1: Installation</font>

- Install python 3.7.x
    - download it from https://www.anaconda.com/
    - bash ---.sh
- Install text editor: sublime text ()
    - sudo apt update
    - sudo apt install sublime-text
- Install Git Bash: 
    - apt-get install git-core


# <font color='green'>Section 2: Basic SQLite tutorial</font>
https://www.sqlitetutorial.net/

**Section 1. Simple query**
- Select – query data from a single table using SELECT statement.

**Section 2. Sorting rows**
- Order By – sort the result set in ascending or descending order.

**Section 3. Filtering data**
- Select Distinct – query unique rows from a table using the DISTINCT clause.
- Where  – filter rows of a result set using various conditions.
- Limit – constrain the number of rows that you want to return. The LIMIT clause helps you get the necessary data returned by a query.
- Between – test whether a value is in a range of values.
- In – check if a value matches any value in a list of value or subquery.
- Like – query data based on pattern matching using wildcard characters: percent sign (%) and underscore (_).
- Glob – determine whether a string matches a specific UNIX-pattern.
- IS NULL – check if a value is null or not.

**Section 4. Joining tables**
- SQLite join – learn the overview of joins including inner join, left join, and cross join.
- Inner Join – query data from multiple tables using inner join clause.
- Left Join – combine data from multiple tables using left join clause.
- Cross Join – show you how to use the cross join clause to produce a cartesian product of result sets of the tables involved in the join.
- Self Join – join a table to itself to create a result set that joins rows with other rows within the same table.
- Full Outer Join – show you how to emulate the full outer join in the SQLite using left join and union clauses.

**Section 5. Grouping data**
- Group By – combine a set of rows into groups based on specified criteria. The GROUP BY clause helps you summarize data for reporting purposes.
- Having – specify the conditions to filter the groups summarized by the GROUP BY clause.

**Section 6. Set operators**
- Union – combine result sets of multiple queries into a single result set. We also discuss the differences between UNION and UNION ALL clauses.
- Except – compare the result sets of two queries and returns distinct rows from the left query that are not output by the right query.
- Intersect – compare the result sets of two queries and returns distinct rows that are output by both queries.

**Section 7. Subquery**
- Subquery – introduce you to the SQLite subquery and correlated subquery.
- Exists operator – test for the existence of rows returned by a subquery.

**Section 8. More querying techniques**
- Case – add conditional logic to the query.

**Section 9. Changing data**:
This section guides you on how to update data in the table using insert, update, and delete statements.
- Insert – insert rows into a table
- Update – update existing rows in a table.
- Delete – delete rows from a table.
- Replace – insert a new row or replace the existing row in a table.

**Section 10. Transactions**
- Transaction – show you how to handle transactions.

**Section 11. Data definition**:
In this section, we show you how to create database objects such as tables, views, indexes using SQL data definition language.

- SQLite Data Types – introduce you to the SQLite dynamic types system and its important concepts: storage classes, manifest typing, and type affinity.
- Create Table – show you how to create a new table in the database.
- Primary Key – show you how to define the primary key for a table.
- NOT NULL constraint – ensure values in a column are not NULL.
- UNIQUE constraint – ensure values in a column or a group of columns are unique.
- CHECK constraint – ensure the values in a column meet a specified condition defined by an expression.
- AUTOINCREMENT – explain how the attribute AUTOINCREMENT works and why you should avoid using it.
- Alter Table – show you how to use modify the structure of an existing table.
- Rename column – learn step by step how to rename a column of a table.
- Drop Table – guide you on how to remove a table from the database.
- VACUUM – show you how to optimize database file.

**Section 12. Views**
- Create View – introduce you to the view concept and show you how to create a new view in the database.
- Drop View – show you how to drop a view from its database schema.

**Section 13. Indexes**
- Index – teach you about the index and how to utilize indexes to speed up your queries.
- Index for Expressions – show you how to use the expression-based index.

**Section 14. Triggers**
- Trigger – manage triggers in SQLite database.
- INSTEAD OF triggers – learn about INSTEAD OF triggers and how to create an INSTEAD OF trigger to update data via a view.

**Section 15. Full-text search**
-Full-text search – get started with the full-text search in SQLite.

**Section 16. SQLite tools**
- SQLite Commands – show you the most commonly used command in sqlite3 program.
- SQLite Show Tables – list all tables in a database.
- SQLite Describe Table – show the structure of a table.
- SQLite Dump – how to use dump command to backup and restore a database.
- SQLite Import CSV – how to import CSV file into a table.
- SQLite Export CSV – how to export an SQLite database to CSV files.

**SQLite Functions**
- ***SQLite Aggregate Functions***:This tutorial shows you how to use the SQLite aggregate functions to find the maximum, minimum, average, sum, and count of a set of values.
- ***SQLite Date Functions***:This section provides you with SQLite date and time functions that help you manipulate datetime data effectively.
- ***SQLite String Functions***:This section shows the most commonly used SQLite string functions that help you manipulate character string data effectively.
- ***SQLite Window Functions***: SQLite window functions perform a calculation on a set of rows that are related to the current row. Unlike aggregate functions, window functions do not cause rows to become grouped into a single result row.

# <font color='green'>Section 3: Using SQLite With Python</font>

## <font color='green'>Create SQLite Connection</font>

In [1]:
# SQLite is installed with py by default
import sqlite3
con=sqlite3.connect('customer.db') #create db connection and name
#git bash on windows to open terminal

In [2]:
# A DB that appears when you program is running but disappears when
 # your pm stops is created as ensues in memory
con=sqlite3.connect(':memory:') #if u have db in memory but volatile

In [3]:
#https://likegeeks.com/python-sqlite3-tutorial/
import sqlite3
from sqlite3 import Error
def sql_connection():
    try:
        con = sqlite3.connect(':memory:')
        print("Conn is established: Database is created in memory")
    except Error:
        print(Error)
    finally:
        con.close()
sql_connection()

Conn is established: Database is created in memory

In [4]:
#check if created
import glob
db=glob.glob("*.db")
db

['DashProjDB.db', 'customer.db']

In [3]:
# Using OS
import os
db=os.listdir('./')
db

['customer.db',
 'sqlite.jpg',
 'mySQLCMDs.docx',
 'db.png',
 'sqlitepy.ipynb',
 '.ipynb_checkpoints']

## <font color='green'>6. Create A Database Table</font>

A database is an organized collection of data, generally stored and accessed electronically from a computer system. Where databases are more complex they are often developed using formal design and modeling techniques. Querying a database means querying a table. It is made up of one or multiple tables. **Table** is the most important thing of a database.

In [5]:
import sqlite3
#Create a connection
conn = sqlite3.connect('customer.db')
#Create a cursor
c=conn.cursor()
#Create a table using the docString for multiple lines
                      #"" for a single line
c.execute("""CREATE TABLE customerss(
              first_name text, last_name text, email text)""")
#sqlite has 5 datatypes: Null, Integer, Real, Text, & Blob (as it is)

#Commit
conn.commit()

# Everytime you open a connection, you have to close it
conn.close()

## <font color='green'>Insert One Record into the Table</font>

In [6]:
import sqlite3
#Create a connection
conn = sqlite3.connect('customer.db')
#Create a cursor
c=conn.cursor()
#Create a table 
c.execute("INSERT or IGNORE INTO customers VALUES('Alem','Fitwi','ahf@a.com')")
#Commit
conn.commit()

# close connection
conn.close()

In [12]:
import pandas as pd
df = pd.DataFrame({'col1': [1, 2, 3], 'col2': [4, 5, 6]})

print(df)

   col1  col2
0     1     4
1     2     5
2     3     6

In [13]:
records = df.to_records(index=False)

result = list(records)

print(result)

[(1, 4), (2, 5), (3, 6)]

## <font color='green'>Insert Multiple Records into the Table</font>

In [9]:
import sqlite3
#Create a connection
conn = sqlite3.connect('customer.db')
#Create a cursor
c=conn.cursor()
#Create a table --> ?,?,? are placeholders
mult_lst=[('Wes','Brown','brown@w.com'),
          ('Steve','Wan','wan@s.com'),
          ('Keven','Brown','brown@k.com')]
c.executemany("INSERT or IGNORE INTO customers VALUES(?,?,?)", mult_lst)
#Commit
conn.commit()
# close connection
conn.close()

## <font color='green'>Query and Fetchall</font>

In [11]:
import sqlite3
#Create a connection
conn = sqlite3.connect('customer.db')
#Create a cursor
c=conn.cursor()
#Query the last record from a table in the DB
c.execute("SELECT * FROM customers")
c.fetchone()
# close connection
conn.close()

In [12]:
import sqlite3
#Create a connection
conn = sqlite3.connect('customer.db')
#Create a cursor
c=conn.cursor()
#Query n records from a table in the DB
c.execute("SELECT * FROM customers")
c.fetchmany(3)
# close connection
conn.close()

In [13]:
import sqlite3
#Create a connection
conn = sqlite3.connect('customer.db')
#Create a cursor
c=conn.cursor()
#Query all records from a table in the DB
c.execute("SELECT * FROM customers")
c.fetchall()
# close connection
conn.close()

## <font color='green'>Format Results</font>

In [10]:
import sqlite3
#Create a connection
conn = sqlite3.connect('customer.db')
#Create a cursor
c=conn.cursor()
#Query all records from a table in the DB
c.execute("SELECT * FROM customers")
items=c.fetchall()
# close connection
conn.close()
print(items)

[('Alem', 'Fitwi', 'ahf@a.com'), ('Wes', 'Brown', 'brown@w.com'), ('Keven', 'Brown', 'brown@k.com'), ('Feven', 'Gerlase', 'feven@g.com'), ('Bob', 'Mar', 'Mar@b.yahoo'), ('Marry', 'Ball', 'ball@m.yahoo'), ('Amman', 'Fitwi', 'fitwi@a.yahoo'), ('Alem', 'Fitwi', 'ahf@a.com'), ('Wes', 'Brown', 'brown@w.com'), ('Steve', 'Wan', 'wan@s.com'), ('Keven', 'Brown', 'brown@k.com'), ('Alem', 'Fitwi', 'ahf@a.com'), ('Alem', 'Fitwi', 'ahf@a.com'), ('Wes', 'Brown', 'brown@w.com'), ('Steve', 'Wan', 'wan@s.com'), ('Keven', 'Brown', 'brown@k.com'), ('Wes', 'Brown', 'brown@w.com'), ('Steve', 'Wan', 'wan@s.com'), ('Keven', 'Brown', 'brown@k.com')]

In [ ]:
print(items[0])

In [ ]:
for item in items:
    print(item)

In [ ]:
for item in items:
    print(item[0])

In [ ]:
print("Name     "+"\t\tEmail")
print("---------"+"\t\t---------")
for item in items:
    print(item[0]+" "+item[1]+"\t\t"+item[2])

## <font color='green'>Primary Key ID (rowid)</font>
A unique ID number that each record in a table gets. It gets increment for every update automatically.
- Field=column=variable
- Record=row=observatin

In [1]:
import sqlite3
#Create a connection
conn = sqlite3.connect('customer.db')
#Create a cursor
c=conn.cursor()
#Query all records from a table in the DB
c.execute("SELECT rowid, * FROM customers")
items=c.fetchall()
# close connection
conn.close()

for item in items:
    print(item)

(1, 'Alem', 'Fitwi', 'ahf@a.com')
(2, 'Wes', 'Brown', 'brown@w.com')
(4, 'Keven', 'Brown', 'brown@k.com')
(5, 'Feven', 'Gerlase', 'feven@g.com')
(6, 'Bob', 'Mar', 'Mar@b.yahoo')
(7, 'Marry', 'Ball', 'ball@m.yahoo')
(8, 'Amman', 'Fitwi', 'fitwi@a.yahoo')

## <font color='green'>The Where Clause</font>

In [2]:
import sqlite3
#Create a connection
conn = sqlite3.connect('customer.db')
#Create a cursor
c=conn.cursor()
#Query all records from a table in the DB
c.execute("SELECT * FROM customers WHERE last_name='Fitwi'")
items=c.fetchall()
# close connection
conn.close()

for item in items:
    print(item)

('Alem', 'Fitwi', 'ahf@a.com')
('Amman', 'Fitwi', 'fitwi@a.yahoo')

In [ ]:
import sqlite3
#Create a connection
conn = sqlite3.connect('customer.db')
#Create a cursor
c=conn.cursor()
#Query all records from a table in the DB
c.execute("SELECT * FROM customers WHERE last_name LIKE 'F%'")
items=c.fetchall()
# close connection
conn.close()

for item in items:
    print(item)

In [ ]:
import sqlite3
#Create a connection
conn = sqlite3.connect('customer.db')
#Create a cursor
c=conn.cursor()
#Query all records from a table in the DB
c.execute("SELECT * FROM customers WHERE email LIKE '%com'")
items=c.fetchall()
# close connection
conn.close()

for item in items:
    print(item)

## <font color='green'>Update Records</font>

In [8]:
import sqlite3
#Create a connection
conn = sqlite3.connect('customer.db')
#Create a cursor
c=conn.cursor()
#Query all records from a table in the DB
c.execute("""UPDATE customers SET first_name='Brook' 
                        WHERE last_name='Fitwi'""")
#Commit
conn.commit()
# close connection
conn.close()

## <font color='green'>Deleting Records</font>

In [9]:
import sqlite3
#Create a connection
conn = sqlite3.connect('customer.db')
#Create a cursor
c=conn.cursor()
#Query all records from a table in the DB
c.execute("DELETE FROM customers WHERE rowid=4")
#Commit
conn.commit()
# close connection
conn.close()

## <font color='green'>Order Results by something</font>

In [10]:
import sqlite3
#Create a connection
conn = sqlite3.connect('customer.db')
#Create a cursor
c=conn.cursor()
#Query all records from a table in the DB
c.execute("SELECT rowid,*FROM customers ORDER BY rowid ASC")
                                        #ASC default
items=c.fetchall()
# close connection
conn.close()
for item in items:
    print(item)

(1, 'Brook', 'Fitwi', 'ahf@a.com')
(2, 'Wes', 'Brown', 'brown@w.com')
(5, 'Feven', 'Gerlase', 'feven@g.com')
(6, 'Bob', 'Mar', 'Mar@b.yahoo')
(7, 'Marry', 'Ball', 'ball@m.yahoo')
(8, 'Brook', 'Fitwi', 'fitwi@a.yahoo')

In [11]:
import sqlite3
#Create a connection
conn = sqlite3.connect('customer.db')
#Create a cursor
c=conn.cursor()
#Query all records from a table in the DB
c.execute("SELECT rowid,*FROM customers ORDER BY rowid DESC")
                                        #ASC default
items=c.fetchall()
# close connection
conn.close()
for item in items:
    print(item)

(8, 'Brook', 'Fitwi', 'fitwi@a.yahoo')
(7, 'Marry', 'Ball', 'ball@m.yahoo')
(6, 'Bob', 'Mar', 'Mar@b.yahoo')
(5, 'Feven', 'Gerlase', 'feven@g.com')
(2, 'Wes', 'Brown', 'brown@w.com')
(1, 'Brook', 'Fitwi', 'ahf@a.com')

In [12]:
import sqlite3
#Create a connection
conn = sqlite3.connect('customer.db')
#Create a cursor
c=conn.cursor()
#Query all records from a table in the DB
c.execute("SELECT rowid,*FROM customers ORDER BY last_name")
                                        #ASC default
items=c.fetchall()
#Commit
conn.commit()
# close connection
conn.close()
for item in items:
    print(item)

(7, 'Marry', 'Ball', 'ball@m.yahoo')
(2, 'Wes', 'Brown', 'brown@w.com')
(1, 'Brook', 'Fitwi', 'ahf@a.com')
(8, 'Brook', 'Fitwi', 'fitwi@a.yahoo')
(5, 'Feven', 'Gerlase', 'feven@g.com')
(6, 'Bob', 'Mar', 'Mar@b.yahoo')

## <font color='green'>AND and OR</font>
Used for handling multiple/compound conditions

In [13]:
import sqlite3
#Create a connection
conn = sqlite3.connect('customer.db')
#Create a cursor
c=conn.cursor()
#Query all records from a table in the DB
c.execute("""SELECT rowid, * FROM customers WHERE first_name LIKE 
'Br%' AND rowid=1""")
items=c.fetchall()
# close connection
conn.close()
for item in items:
    print(item)

(1, 'Brook', 'Fitwi', 'ahf@a.com')

In [14]:
import sqlite3
#Create a connection
conn = sqlite3.connect('customer.db')
#Create a cursor
c=conn.cursor()
#Query all records from a table in the DB
c.execute("""SELECT rowid, * FROM customers WHERE last_name LIKE 
'Br%' OR rowid=1""")
items=c.fetchall()
# close connection
conn.close()
for item in items:
    print(item)

(1, 'Brook', 'Fitwi', 'ahf@a.com')
(2, 'Wes', 'Brown', 'brown@w.com')

## <font color='green'>Limiting Results</font>
- The DB we are working on is small; however, in real world, the DB contains millions of records that can be loaded all at once.
- Hence, having a limiting mechanism is vital
- The LIMIT function is used in sqlite to limit the numbe rof records

In [15]:
# First N-records
import sqlite3
#Create a connection
conn = sqlite3.connect('customer.db')
#Create a cursor
c=conn.cursor()
#Query all records from a table in the DB
c.execute("""SELECT rowid, * FROM customers ORDER BY rowid LIMIT 2""")
items=c.fetchall()
# close connection
conn.close()
for item in items:
    print(item)

(1, 'Brook', 'Fitwi', 'ahf@a.com')
(2, 'Wes', 'Brown', 'brown@w.com')

## <font color='green'>Dropping A Table</font>

In [16]:
import sqlite3
#Create a connection
conn = sqlite3.connect('customer.db')
#Create a cursor
c=conn.cursor()
#Query all records from a table in the DB
c.execute("""DROP TABLE customers""")
#Commit
conn.commit()
# close connection
conn.close()

# <font color='green'>Section 3: Building a Simple Database App</font>

## <font color='green'>Show All Function</font>
Not a revolutionary app, but a simple one to display all records of a table in a DB.

In [17]:
import sqlite3
conn = sqlite3.connect('customer.db')
c=conn.cursor()
c.execute("""CREATE TABLE customers(
              first_name text, last_name text, email text)""")
conn.commit()
conn.close()

In [18]:
import sqlite3
#Create a connection
conn = sqlite3.connect('customer.db')
#Create a cursor
c=conn.cursor()
#Create a table --> ?,?,? are placeholders
mult_lst=[('Alem','Fitwi','ahf@a.com'),
          ('Wes','Brown','brown@w.com'),
          ('Steve','Wan','wan@s.com'),
          ('Keven','Brown','brown@k.com')]
c.executemany("INSERT INTO customers VALUES(?,?,?)", mult_lst)
#Commit
conn.commit()
# close connection
conn.close()

In [19]:
import sqlite3
def show_all():
    #Create a connection
    conn = sqlite3.connect('customer.db')
    #Create a cursor
    c=conn.cursor()
    #Query the DB
    c.execute("""SELECT rowid, * FROM customers""")
    items=c.fetchall()
    # close connection
    conn.close()
    for item in items:
        print(item)

In [20]:
show_all()

(1, 'Alem', 'Fitwi', 'ahf@a.com')
(2, 'Wes', 'Brown', 'brown@w.com')
(3, 'Steve', 'Wan', 'wan@s.com')
(4, 'Keven', 'Brown', 'brown@k.com')

## <font color='green'>Add A Record Function</font>

In [21]:
import sqlite3
def add_one(first, last, email):
    #Create a connection
    conn = sqlite3.connect('customer.db')
    #Create a cursor
    c=conn.cursor()
    #Query the DB
    c.execute("""INSERT INTO customers VALUES(?,?,?)""",
    (first, last, email))
    #Commit
    conn.commit()
    # close connection
    conn.close()

In [22]:
add_one("Feven", "Gerlase", "feven@g.com")
show_all()

(1, 'Alem', 'Fitwi', 'ahf@a.com')
(2, 'Wes', 'Brown', 'brown@w.com')
(3, 'Steve', 'Wan', 'wan@s.com')
(4, 'Keven', 'Brown', 'brown@k.com')
(5, 'Feven', 'Gerlase', 'feven@g.com')

## <font color='green'>Delete A Record Function</font>

In [23]:
import sqlite3
def delete_one(id1):
    #Create a connection
    conn = sqlite3.connect('customer.db')
    #Create a cursor
    c=conn.cursor()
    #Query the DB
    c.execute("""DELETE FROM customers WHERE rowid=(?)""",id1)
    #Commit
    conn.commit()
    # close connection
    conn.close()

In [24]:
delete_one('3')
show_all()

(1, 'Alem', 'Fitwi', 'ahf@a.com')
(2, 'Wes', 'Brown', 'brown@w.com')
(4, 'Keven', 'Brown', 'brown@k.com')
(5, 'Feven', 'Gerlase', 'feven@g.com')

## <font color='green'>Add A Bunch of Records</font>

In [25]:
import sqlite3
def add_many(lst):
    #Create a connection
    conn = sqlite3.connect('customer.db')
    #Create a cursor
    c=conn.cursor()
    #Query the DB
    c.executemany("""INSERT INTO customers VALUES (?,?,?)""",lst)
    #Commit
    conn.commit()
    # close connection
    conn.close()

In [26]:
lst=[('Bob','Mar','Mar@b.yahoo'),
     ('Marry','Ball','ball@m.yahoo'),
     ('Amman','Fitwi','fitwi@a.yahoo')]
add_many(lst)
show_all()

(1, 'Alem', 'Fitwi', 'ahf@a.com')
(2, 'Wes', 'Brown', 'brown@w.com')
(4, 'Keven', 'Brown', 'brown@k.com')
(5, 'Feven', 'Gerlase', 'feven@g.com')
(6, 'Bob', 'Mar', 'Mar@b.yahoo')
(7, 'Marry', 'Ball', 'ball@m.yahoo')
(8, 'Amman', 'Fitwi', 'fitwi@a.yahoo')

## <font color='green'>Where Clause Function</font>
- Silly, though!
- Lookup with where clause (Query)

In [27]:
import sqlite3
def email_lookup(email):
    #Create a connection
    conn = sqlite3.connect('customer.db')
    #Create a cursor
    c=conn.cursor()
    #Query the DB
    c.execute("""SELECT rowid, *FROM customers WHERE email=(?)""",
    (email,))
    #Fetch
    items=c.fetchall()  
    for item in items:
        print(item)
    print("rcount=",c.execute('SELECT * FROM customers').rowcount)
    print("# of rows=",len(items))
    # close connection
    conn.close()

In [28]:
email_lookup('ahf@a.com')

(1, 'Alem', 'Fitwi', 'ahf@a.com')
rcount= -1
# of rows= 1